---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Create a Clubs YSWS!</h1>
			<em>Get your members and other clubs across the world shipping more meaningful projects!</em>

			<p>Ever wanted to create your own ysws? Get more flexibility? Help other across the world get creative?</p>
			<p> This is your chance!</p>

			<p>Here's the premise:</p>
			<ul>
				<li>Get an idea</li>
					<ul><li>Uniqueness is encouraged! Try to avoid overspecificity though</li>
					<li>[Here's examples of what we're looking for!] Shape this for your club :)
						[[add smthin about dont treat this like an application]]</li>
					</ul>
				<li>Fill out [this] form</li>
				<li>Approval time!</li>
					<ul><li>If we [xyz].</li>
					<li>Please note that all applications may not be accepted/li>
					</ul>
				<li>Create a guide</li>
				<li>Run your custom meeting!</li>
				<li>Get your rewards</li>
				<li>Make it a real Hack Club program for clubs all over the world</li>
					<ul>
						<li>Like #swirl, #fusering, #pathfinder, #toppings!</li>
					</ul>
			</ul>


		</main>
		<Footer />
	</body>
</html>
